p{
font-size: 20px;
text-align: center;
}
h1 {
    text-align: center;
}

h1 {
    text-shadow: 1px 1px 2px gray;

}
h2{
    text-align: center;
}

.text-pink {
color: pink;

}
.text-skybule {
    color: skyblue;

}
.text-decoration {

    letter-spacing: 1.2em;
    border-bottom: solid 3px black;
}
.color1{

    color: skyblue
}
.color2{

    color: pink
}

#parent p{

font-weight: bold;

}

body{

    font-family: "Arial","Meiryo", sans-serif;
}

h1{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 40px;
}

html{
font-size: 20px;

}





